<div class="contents row">
  <div class="title2">削除が完了しました。</div>
  <div class="login_contents">
    <div class="login_one_contents3">
      <div class="login_one_contents2">
        <a class="profile_end" href="/">トップページへ戻る</a>
      </div>
    </div>
  </div>
</div>