<div class="contents">


  <div class="top_image"><%= image_tag('baseball.jpg') %></div>
  <div class="title">トップページ</div>

  <div class="main_contents">
    <% if  @profiles.present? %>
      <% @profiles.each do |profile| %>
        <%= render partial: "profile", locals: { profile: profile } %>
      <% end %>
    <% else %>

      <div class="one_contents">
        <div class="profile_title">プロフィール</div>
        <div class="profile_button">
          <p class="profile_one_button">
            詳細
          </p>
          <p class="profile_one_button">
            編集
          </p>
          <p class="profile_one_button">
            削除
          </p>
        </div>
        <p class="profile_image2"></p>
        <p class="profile_element_name">
          名前
        </p>
        <p class="profile_element">ポジション</p>
        <p class="profile_element">投/打</p>
        <p class="profile_element">チーム名</p>
        <p class="profile_element_age">年齢</p>
      </div>

    <% end %>
  </div>

  <div class="footer">
    BaseballCommunity　　　※18~50歳の方が対象
  </div>

</div>