<div class="contents">
  <div class="title2">プロフィール作成</div>
  <div class="login_contents">
    <div class="login_one_contents">
      <div class="login_one_contents2">
        <%= render partial: "form", locals: { profile: @profile } %>
      </div>
    </div>
  </div>
</div>